<div class="row">
  <div class="col-12 col-md-3">
    <%= render partial: 'rooms' %>
  </div>

  <div class="col">
    <div class="alert alert-primary">
      <h4 class="alert-heading">Welcome to Chat.io!</h4>
      <p>An internet chat relay like the old days!</p>
      <hr />
      <p>Create or join a chat room from the sidebar</p>
    </div>
  </div>

</div>